.hero{
    width: 80.5%;
    background-color: #27274d;
    position: relative;
    top: 120px;
    left: 19.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
}
.right-side-pane{
    
    width: 27.5%;
    aspect-ratio: 1/1.105;
    position: relative;
    left: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2c2b57; 
    border-radius: 40px;
    color: white;
    overflow-y: auto;
    
    clip-path: inset(0 round 40px);

}
.right-side-pane-hero{
    width: 80.5%;
    aspect-ratio: none;
    height: 100%;
    left: 19.5%;
    clip-path: none;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2c2b57; 
    border-radius: 40px;
    color: white;
    overflow-y: auto;
    
    clip-path: inset(0 round 40px);
}
.right-side-pane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.553);
    background-color: #363577;
    border-radius: 20px;
  }
  
  .right-side-pane::-webkit-scrollbar {
    width: 6px;
    background-color: #00c0f000;
    
  }
  
  .right-side-pane::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #363577;
  }
.hero-hero{
    display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.right-pane-head{
    text-align: center;
    font-size: 1.5rem;
    
}


.right-pane-item{
    font-size: 1.1rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    border-bottom: 1px solid rgb(195, 202, 255);
    overflow: hidden;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}
/* catolog css  */
.catolog-head{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(205, 205, 205);
    display: flex;
    justify-content: space-between;
    
}
.catalog-seeAll{
    background-color: rgb(0,0,0,0);
    border: none;
    font-size: 1.3rem;
    color: rgb(100, 185, 255);
    cursor: pointer;
    font-weight: 700;
}
.catalog-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 0.33fr));
    grid-auto-rows: 340px;
    grid-gap: 15px;
    justify-content: center;
}
.catalog-grid-ingame{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 0.33fr));
    grid-auto-rows: 340px;
    grid-gap: 15px;
    justify-content: space-evenly;
}
.catalog-item{
    background-color: #2c2b57;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    cursor: pointer;
    border: none;
    overflow: hidden;
}
.catalog-item-img{
    height: 70%;
    aspect-ratio: 2.35;
    border-radius: 30px;
    object-fit:cover;
    width: 100%;
}
.catalog-item-head{
    display: flex;
    position: relative;
    height: 15%;
}
.catalog-item-end-div{
    display: flex;
    height:13%;
    width: 100%;
}
.catalog-item-end{
    display: flex;
    height: 100%;
    background-color: #2c2b57;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    /*width: 84%;*/
    border-radius: 20px;
    overflow: hidden;
    flex-grow: 6;
}
.rating-head{
    height: 100%;
    margin: 0;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: center;
    /*width: 16%;*/
    color: white;
    flex-grow: 0.2;
    flex-shrink: 0;
}
.catalog-item-progress{
    height: 100%;
    width: 0%;
    background-color: rgb(51, 228, 228);
    box-shadow: inset 2px 7px 20px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-rating{
    color: white;
    text-shadow: 2px 2px 3px #000000;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    padding-left: 10px;
}
.catalog-item-head-left{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.catalog-item-head-left-head{
    margin: 0px;
    font-size: 1.4rem;
    text-align: left;
}
.catalog-tags{
    margin: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.catalog-tag{
    background-color: #434277;
    margin-right: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 12px;
    font-size: 15px;
}
.catalog-tag-rem{
    margin-right: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}








.hero-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 20px;
}
.hero-loading-img{
    height: 100%;
    aspect-ratio: 1/1;
}
.catalog-end-msg{
    text-align: center;
}
.search-results-head{
    margin-top: 0px;
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .hero{
        width: 100%;
        background-color: #27274d;
        position: relative;
        top: 150px;
        left: 0%;
        padding-right: 0;
        box-sizing: border-box;
    }
    .hero-hero{
        display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
    .carousel{
        width: 90%;
        
        aspect-ratio: 2.3;
        overflow: hidden;
        position: relative;
        border-radius: 40px;
        z-index: 0;
    }
    .right-side-pane{
        width: 100%;
        height: 100%;
        left: 0%;
        position: fixed;
        display: none;
        top: 0px;
        padding-top: 140px;
        box-sizing: border-box;
        border-radius: 0px;
        clip-path:none;
        

    }
    .catolog-head{
        padding-left: 20px;
        margin-top: 0rem;
    }
    .catalog-grid{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .catalog-grid-ingame{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .catalog-item{
        background-color: #2c2b57;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0px;
        padding: 0px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 2%;
        cursor: pointer;
        border: none;
        overflow: hidden;
        
    }
    .catalog-item-img{
        height: 70%;
        aspect-ratio: none;
        border-radius: 0px;
        object-fit:cover;
        width: 100%;
    }
    .catalog-item-head{
        display: flex;
        position: relative;
        height: 15%;
        padding-left: 10px;
    }
    .catalog-item-end-div{
        display: flex;
        height:13%;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }
    .catalog-item-end{
        display: flex;
        height: 100%;
        background-color: #2c2b57;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        /*width: 84%;*/
        border-radius: 20px;
        overflow: hidden;
        
    }
    .rating-head{
        height: 100%;
        margin: 0;
        text-align: left;
        font-size: 15px;
        display: flex;
        align-items: center;
        /*width: 16%;*/
        color: white;
        
        flex-shrink: 0;
    }
    .catalog-item-progress{
        height: 100%;
        width: 0%;
        background-color: rgb(51, 228, 228);
        box-shadow: inset 2px 7px 20px rgba(0, 0, 0, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progress-rating{
        color: white;
        text-shadow: 2px 2px 3px #000000;
        font-family: "Jost", sans-serif;
        font-size: 20px;
        margin: 0;
        display: inline-block;
        padding-left: 10px;
    }
    .catalog-item-head-left{
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .catalog-item-head-left-head{
        margin: 0px;
        font-size: 1.4rem;
        text-align: left;
    }
    .catalog-tags{
        margin: 0px;
        display: flex;
        justify-content: left;
    }
    .catalog-tag{
        background-color: #434277;
        margin-right: 7px;
        padding-left: 10px;
        margin-left: -5px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 12px;
        font-size: 15px;
    }
    .catalog-tag-rem{
        margin-right: 7px;
        font-size: 15px;
        display: flex;
        align-items: center;
        
    }

}
@media screen and (min-width: 480px) 
    and (max-width: 1024px) {
        
        .hero{
            width: 100%;
            background-color: #27274d;
            position: relative;
            top: 120px;
            left: 0%;
            padding-right: 2.5%;
            box-sizing: border-box;
        }
        .hero-hero{
            display: flex;
          flex-wrap: nowrap;
          align-items: center;
          flex-direction: column;
          gap: 20px;
        }
        .carousel{
            width: 90%;
            
            aspect-ratio: 2.3;
            overflow: hidden;
            position: relative;
            border-radius: 40px;
            z-index: 0;
        }
        .right-side-pane{
            width: 90%;
            height: 200px;
            left: 0%;
            display: none;
        }
        .catolog-head{
            padding-left: 20px;
        }
    
}

