.nav-bar{
    display: flex;
    height: 100px;
    width: 100%;
    z-index: 3;
}
.nav-bar-container{
    top:0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2c2b57c4;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}
.nav-left{
    width: 100%;
    
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-sizing: border-box;
}
.nav-middle{
    width: 100%;
    display: flex;
    align-items: center;
    min-width: 500px;
    position: relative;
}
.nav-right{
    width: 100%;
    
    display: flex;
    align-items: center;
    padding-right: 30px;
    box-sizing: border-box;
    justify-content: right;
    gap: 20px;
}
.nav-logo{
    width: 150px;
}
.nav-search{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #3a397d;
    font-size: large;
    padding-left: 20px;
    color: white;
    
}
.nav-search-form{
    width: 100%;
    position: relative;
}
.nav-search-icon{
    position: absolute;
    right: 0px;
    top: 0px;
    color: rgb(172, 172, 172);
    height: 100%;
    padding: 0px 10px;
    font-size: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
}
.nav-search:focus{
    border: 2px rgb(155, 208, 255) solid;
}
.nav-notification{
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color:rgba(0, 255, 255, 0);
    border: none;
}
.nav-login{
    height: 40px;
    font-size: 22px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    background-color: rgb(59, 82, 255);
    color: white;
    border: none;
    cursor: pointer;
    
}
.nav-install{
    height: 40px;
    font-size: 22px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    background-color: rgb(59, 82, 255);
    min-width: 150px;
    color: white;
    border: none;
    cursor: pointer;
    
}


.mobSearchBtn{
    display: none;
}
.nav-burger{
    display: none;
}
.nav-mob-search{
    display: none;
}


@media screen and (max-width: 480px)  {
    .nav-profile-btn{
        display: none;
    }
    .nav-bar{
        height: 80px;
    }
    
    .mobSearchBtn{
        display: block;
    }
    
    .nav-left{
        width: 100%;

        padding-left: 15px;
 
    }
    .nav-middle{
  
        display: none;

    }
    .nav-right{
        width: 100%;
        padding-right: 15px;
        gap: 0.7rem;
        justify-content: right;
    }
    .nav-logo{
        width: 100px;
    }
    
    .nav-login{
        
        display: none;
    }
    .nav-install{
        
        display: none;
    }
    .nav-burger{

        top: 40px;
        z-index: 10;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        border: none;
        border-radius: 5px;
        background-color: #f95f5f00;
        align-items:center;
        right: 10px;
    }
    .burgerb{
        height: 3px;
        width: 1.7rem;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }
    .nav-mob-search{
        height: 40px;
        width: 100%;
        display: flex;
        padding-bottom: 10px;
    }
    .nav-search-form{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-search{
        height: 90%;
        width: 90%;
        box-sizing: border-box;
    }
    .nav-search-icon{
        
        right: 25px;
        
    }

}

@media screen and (min-width: 480px) 
    and (max-width: 1024px) {
        .nav-profile-btn{
            display: none;
        }
        .mobSearchBtn{
            display: block;
        }
        
        .nav-left{
            width: 100%;
    
            padding-left: 15px;
     
        }
        .nav-middle{
      
            display: none;
    
        }
        .nav-right{
            width: 100%;
            position: relative;
            padding-right: 15px;
        }
        .nav-logo{
            width: 100px;
        }
        
        .nav-login{
            
            display: none;
        }
        .nav-install{
        
            display: none;
        }
        .nav-burger{
    
            top: 40px;
            z-index: 10;
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            border: none;
            border-radius: 5px;
            background-color: #f95f5f00;
            align-items:center;
            right: 10px;
        }
        .burgerb{
            height: 3px;
            width: 1.7rem;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            transition: all 0.3s ease-out;
        }
}