.side-pane {
  height: calc(100% - 140px);
  margin-bottom: 20px;
  width: 17%;
  background-color: #2c2b57;
  position: fixed;
  top: 120px;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.05s linear;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  direction: rtl;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.side-pane::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.553);
  background-color: #363577;
  border-radius: 20px;
}

.side-pane::-webkit-scrollbar {
  width: 6px;
  background-color: #00c0f000;
}

.side-pane::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #363577;
}
.side-pane-container {
  background-color: rgb(15, 0, 32);
}
.pane-item{
    display: flex;
    height: 35px;
    cursor: pointer;
    direction: ltr;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-items: center;
    font-family: "Jost", sans-serif;
}
.pane-icon{
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pane-name{
    position: relative;
    width: 65%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 23px;
    transition: all 0.05s linear;
    left: 10px;
    bottom: 0px;
    color: white;
}
.pane-item:hover > .pane-name{
    position: relative;
    left: 20px;
    color: rgb(147, 123, 175);
}
.pane-hr{
    min-height: 0.5px;
    background-color: #403f8b;
    width: 80%;
    margin-left: 10%;
}
.pane-icon-img{
    width: 1.5rem;
    height: 1.5rem;
}


@media screen and (max-width: 480px) {
  .side-pane-full {
    left: 20% !important; 
  }
    .side-pane{
      width: 100%;
      z-index: 3;
      height: 100%;
      background-color: #2c2b57;
      position: fixed;
      top: 0px;
      left: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      transition: left 0.05s linear;
      border-top-right-radius: 0px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 0px;
      color: white;
      padding-top: 40px;
      padding-bottom: 165px;
      margin-bottom: 150px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      direction: ltr;
      transition: left 0.1s ease-in-out;
    }
    .pane-icon{
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .pane-item{
    display: flex;
    height: 45px;
    cursor: pointer;
    direction: ltr;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-items: center;
    font-family: "Jost", sans-serif;
}

.side-pane-down{
  background-color: #2c2b57;
  border-bottom-left-radius: 40px;
  height: 170px;
  position: fixed;
  width: 80%;
  z-index: 10;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.side-pane-down > .side-pane-profile{
  background-color: rgba(0,0,0,0);
  border: 2px rgb(59, 82, 255) solid;
}
.side-pane-login{
  font-weight: 100;
  background-color: rgb(59, 82, 255);
  height: 3rem;
  color: white;
  width: 60%;
  font-size: 1.7rem;
  border-radius: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  border: none;
}
.sidePane-close-btn{
  position: absolute;
  top: 20px;
  right: calc(20% + 20px);
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  font-size: 2rem;
}
}


@media screen and (min-width: 480px) 
    and (max-width: 1024px) {
      .pane-name{
        font-size: 17px;
      }
      .side-pane-full {
        left: 40% !important; 
      }
        .side-pane{
          width: 100%;
          z-index: 3;
          height: 100%;
          background-color: #2c2b57;
          position: fixed;
          top: 0px;
          left: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          transition: left 0.05s linear;
          border-top-right-radius: 0px;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 0px;
          color: white;
          padding-top: 50px;
          padding-bottom: 165px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          gap: 15px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          direction: ltr;
          transition: left 0.1s ease-in-out;
        }
        .pane-icon{
          width: 12%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .pane-item{
        display: flex;
        height: 45px;
        cursor: pointer;
        direction: ltr;
        padding-left: 5%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        align-items: center;
        font-family: "Jost", sans-serif;
    }
    .side-pane-down{
      background-color: #2c2b57;
      border-bottom-left-radius: 40px;
      height: 170px;
      position: fixed;
      width: 60%;
      z-index: 10;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 1rem;
    }
    .side-pane-down > .side-pane-profile{
      background-color: rgba(0,0,0,0);
      border: 2px rgb(59, 82, 255) solid;
    }
    .side-pane-login{
      font-weight: 100;
      background-color: rgb(59, 82, 255);
      height: 3rem;
      color: white;
      width: 60%;
      font-size: 1.7rem;
      border-radius: 20px;
      font-family: "Jost", sans-serif;
      font-weight: 600;
      border: none;
    }
    .sidePane-close-btn{
      position: absolute;
      top: 20px;
      right: calc(40% + 20px);
      background-color: rgba(0,0,0,0);
      border: none;
      color: white;
      font-size: 2rem;
    }
}